body{
    font-family: "Myriad Pro";
    max-width: 1280px;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
.black-color{
    text-decoration: none;
    color: black;
}
.name{
    font-size: 60px;
    margin: 30px 0;
}
.colour{
    color: #4bcaff;
}
.row{
     display: flex;
 }
.space-between{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.container{
    width: 100%;
    background-color: #35444F;
}
.main--nav a{
    display: inline-block;
    color: white;
    font-size: 24px;
    text-decoration: none;
    height: 60px;
    padding: 17px 30px;
}
.main--nav a:hover{
    background-color: #222F3A;
    border-right: 1px groove #B4B7BA;
    border-left: 1px groove #B4B7BA;
}
.sec{
     margin-top: 40px;
}
.col{
    display: flex;
    flex-direction: column;
}
.side-container{
    width: 100%;
    background-color: white;
    border-style: groove;
    border-width: 1px;
    margin-right: 60px;
    height: fit-content;
}
.sidenav a{
    text-decoration: none;
    font-size: 28px;
    color: #485863;
    padding: 18px 40px 18px 35px;
}

.sidenav a:hover{
    background-color: #DBDBDB;
    padding-left: 50px;
}
.content{
    width: 100% ;
    height: 460px;
    border-style: groove;
    border-width: 1px;
}
.content{
    display: flex;
    justify-content: center;
}
.logo{
    object-fit: contain;
}
.text{
    margin: 40px 30px 0 30px;
}
.footer-container{
    background-color: #B4B7BA;
}
.end-row{
    display: flex;
    height: 66px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.end-nav a{
    text-decoration: none;
    color: black;
    margin: 0 12px;
    font-size: 26px;
}
.end-nav{
    margin-left: 30px;
}
.copy {
    font-size: 24px;
    margin-left: 235px;
}
.end-nav a:hover{
    color: #3181a6;
    text-decoration: underline;
}
.content :hover{
    transition: 1s;
    transform: scale(1.4);
}